/* Webfont: PFHandbookPro-Black */



@font-face {
    font-family: 'pf_handbook_problack';
    src: url('pfhandbookpro-black.eot');
    src: url('pfhandbookpro-black.eot?#iefix') format('embedded-opentype'),
         url('pfhandbookpro-black.woff2') format('woff2'),
         url('pfhandbookpro-black.woff') format('woff'),
         url('pfhandbookpro-black.svg#pf_handbook_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}

p {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
