/* Webfont: PFEncoreSansPro-LightItalic */


@font-face {
    font-family: 'pf_encore_sans_proLtIt';
    src: url('pfencoresanspro-lightitalic.eot');
    src: url('pfencoresanspro-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('pfencoresanspro-lightitalic.woff2') format('woff2'),
         url('pfencoresanspro-lightitalic.woff') format('woff'),
         url('pfencoresanspro-lightitalic.svg#pf_encore_sans_proLtIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

p {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
