/* Webfont: PFEncoreSansPro-Thin */



@font-face {
    font-family: 'pf_encore_sans_prothin';
    src: url('pfencoresanspro-thin.eot');
    src: url('pfencoresanspro-thin.eot?#iefix') format('embedded-opentype'),
         url('pfencoresanspro-thin.woff2') format('woff2'),
         url('pfencoresanspro-thin.woff') format('woff'),
         url('pfencoresanspro-thin.svg#pf_encore_sans_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

p {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
