/* Webfont: PFEncoreSansPro-XThin */



@font-face {
    font-family: 'pf_encore_sans_proextrathin';
    src: url('pfencoresanspro-xthin.eot');
    src: url('pfencoresanspro-xthin.eot?#iefix') format('embedded-opentype'),
         url('pfencoresanspro-xthin.woff2') format('woff2'),
         url('pfencoresanspro-xthin.woff') format('woff'),
         url('pfencoresanspro-xthin.svg#pf_encore_sans_proextrathin') format('svg');
    font-weight: normal;
    font-style: normal;

}

p {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
