@font-face {
  font-family: 'PFHandbookPro-medium';
  src: url(./assets/fonts/PFHandbookPro/WEB/pfhandbookpro-medium.woff);
}
@font-face {
  font-family: 'PFEncoreSansPro-regular';
  src: url(./assets/fonts/PFEncoreSansPro/WEB/pfencoresanspro-reg.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, ul, li, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover,a:focus {
  text-decoration: none;
}


/* footer */
.footer-section-one, .footer-section-two {
  font-family: PFEncoreSansPro-regular, 'san-serif' !important;
}
.footer-section-one ul li a {
  color: #A1A2A2;
  font-size: 14px;
  line-height: 1;
}
.footer-section-two ul li a {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 2.5;
}
.footer-base a {
  color: #ffffff;
}